<table class="table table-striped card">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Larry</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
