<%= form_tag dashboard_index_path, method: :get, id: 'cities_search', remote: true do %>
  <p>
    <%= search_field_tag :city, params[:city], autocomplete: 'off' %>
    <%= submit_tag 'Buscar', class: 'btn btn-primary secundary_color' %>
  </p>
<% end %>

<script>
function initialize() {
  var input = document.getElementById('city');

  options = {
    types: ['(cities)']
  }
  new google.maps.places.Autocomplete(input, options);
}
google.maps.event.addDomListener(window, 'load', initialize);

</script>
