  <div id="weather-content" class="row">
    <%= render 'search_city' %>

    <div class="container">
      <div class="row">
        <div class="mx-auto ">
            <div id="temperature"></div>
        </div>
      </div>
    </div>

  <div class="container favorite">
    <div class="row">
      <% @weather_favorite_cities.each do |weather_favorite_city| %>
        <div class="col">
          <%= render partial: weather_favorite_city.webservice_status('card_favorite_city'), locals: { weather: weather_favorite_city } %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
