  <div id="weather-content" class="row">
    <%= render 'search_city' %>

    <div class="container">
      <div class="row">
        <div class="mx-auto ">
            <div id="temperature"></div>
        </div>
      </div>
    </div>

  <div class="container favorite">
    <div class="row">
      <div class="col">
        <%= render 'card_favorite_city' %>
      </div>
    </div>
  </div>

  </div>
