<%= render 'header' %>
<div class="container">
  <div id="weather-content" class="row">
    <%= render 'search_city' %>

    <div class="container">
      <div class="row">
        <div class="col-sm">
            <div id="temperature"></div>
        </div>

        <div class="col-sm">

          <%= render 'favorite_cities' %>

        </div>

      </div>
    </div>
  </div>
</div>
