---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=3af12266e2913e9347cee2db36b37fe3&q=Sao%20Paulo,BR&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-46.64,"lat":-23.55},"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"base":"stations","main":{"temp":61.79,"pressure":1020,"humidity":88,"temp_min":60.8,"temp_max":62.6},"visibility":9000,"wind":{"speed":4.7,"deg":100},"rain":{"3h":3.5},"clouds":{"all":39},"dt":1559529392,"sys":{"type":1,"id":8394,"message":0.0048,"country":"BR","sunrise":1559468497,"sunset":1559507264},"timezone":-10800,"id":3448439,"name":"Sao
        Paulo","cod":200}'
  recorded_at: Mon, 03 Jun 2019 02:40:36 GMT
recorded_with: VCR 5.0.0
