<nav id="topNav" class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
    <a class="navbar-brand mx-auto" href="#">RitWeather</a>
    <ul class="nav navbar-nav navbar-right">
      <%= navegation_link_for_current_user %>
    </ul>
</nav>
