<tr id="favorite_city_<%= favorite_city.id %>">
  <td><%= favorite_city.name %></td>
  <td>
    <%= link_to "#{I18n.t('.buttons.delete')}", favorite_city, remote: true, :method => :delete, data: {confirm: "#{I18n.t('.buttons.delete')} #{I18n.t('.activerecord.models.favorite_city')}: #{favorite_city.name} "}, :class => 'btn btn-sm btn-danger' %>
  </td>
</tr>
