<%= form_for(@favorite_city, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

<div class="row">
 <div class="col-sm-6">
  <div class="form-group">
    <%= f.label :name, :class => "control-label" %>
    <%= f.text_field :name, :class => "form-control", autocomplete: 'off'  %>
  </div>

  <div class="form-group">
    <%= f.submit "#{I18n.t('.buttons.submit')}", :class => "btn btn-primary" %>
  </div>
</div>
</div>
<% end %>


<script>
  input = document.getElementById('favorite_city_name');
  options = {
    types: ['(cities)']
  }
  new google.maps.places.Autocomplete(input, options);


</script>

<style>
    .pac-container {
        z-index: 20000 !important;
    }
</style>
