<table class="table table-striped card">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="favorite_cities">
    <%= render @favorite_city %>
  </tbody>
</table>
