  <%= render 'dialog' %>

  <h2>Favorite Cities</h2>
  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="favorite_cities">
    <%= render @favorite_cities %>
    </tbody>
  </table>

  <div class="well">
    <%= link_to "Nova Cidade", new_favorite_city_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-favorite-city"></div>


