@import "bootstrap";
@import "devise";
@import "form";

:root {
  --primary-bg-color: #4DBEFF;
  --secundary-bg-color: #00A2FF;
}

 html,body {
  height:100%;
  width:100%;
  margin:0;
}

h1, h2, h3, h4, h5, h6, p, label, a{
  font-family: 'Roboto', sans-serif;
}

.primary_color {
  background-color: #4DBEFF;
}

.secundary_color {
  background-color: #00A2FF;
}

header{
  background-color: var(--primary-bg-color);
}
