#weather-content{
  margin-top: 3em;
}

#city{
  width: 26em;
  height: 2.3em;
}

.card .col-sm:first-child {
  font-weight: bold;
}

table.table.table-striped.card {
  display: inline-table;
}

.text-muted {
  color: #00A2FF !important;
}

.favorite {
  margin-top: 3em;
}

.favorite .card {
  font-size: 14px;
  margin-bottom: 2em;
}
