#sign {
  background-color: white;
  margin:auto;
  margin-top: 5em;
  padding: 2em;
  width: 30em;
}

#sign h2 {
  text-align: center;
}

#sign .form-group input {
  width: 25em;
  height: 2.5em;
}

#sign .form-check{
  height: 0em;
}

.button_submit{
  margin-top: 2em;
}

.alert {
  text-align: center;
  color: white;
  background: dodgerblue;
}
